@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-light-grey: #efefef;
  --color-chalk-black: #272727;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: var(--color-chalk-black);
  background-color: var(--color-light-grey);
  font-family: 'Roboto', sans-serif, Verdana, Georgia;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}